* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: burlywood;
}
.container {
    width: 80%;
    background: yellow;
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
.hexa {
    height:280px;
    width:200px;
    background: url('pic/Sourav.jpg');
    background-size: cover;
    box-shadow: 2px 2px 3px black;
    transition: 0.5s;
    position: relative;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 10px;
    cursor: pointer;
}
.hexa:hover {
    transform: scale(1.2);
}
.front {
    position: absolute;
    width: 100%;
    bottom:-25px;
    left: 0;
    height: 45%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: rgb(118, 213, 250);
    font-size: 20px;
    z-index: 3;
}
.front::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.459);
    z-index: -1;
    filter: blur(2px);
}
.back {
    border: 1px solid cyan;
    display: none;
}